{
  "mpd.url": {
    "SYNO.SDS.MPD.Application": {
      "type": "url",
      "allUsers": true,
      "title": "My Photo Diary",
      "desc": "Photo diary",
      "icon": "images/mpd_{0}.png",
      "protocol": "http",
      "port": "__LAN_PORT__",
      "url": "/",
      "allowMultiInstance": false,
      "grantPrivilege": "all",
      "advanceGrantPrivilege": false
    }
  }
}
